
@{
    ViewBag.Title = "AboutOrder";
}
<div class="col-md-12 text-center marb-35">
    <h4 class="header-h">  КАК СДЕЛАТЬ ЗАКАЗ </h4>
</div>

    <div class="tm-line-breaker">

    </div>
    <div class="uk-container uk-container-large">
        <div uk-grid>
            <div class="uk-width-1-1@s uk-width-1-2@m uk-width-3-5@l">
                <div>
                    <p>Оформить заказ на нашем сайте очень легко и удобно:</p>
                    <ol>
                        <li data-count="1">Выберите понравившийся Вам продукт и отправьте его в корзину.</li>
                        <li data-count="2">Заполните форму заказа.</li>
                        <li data-count="3">В течении 30 минут с Вами свяжется наш менеджер и уточнит детали заказа и доставки.</li>
                    </ol>
                    <p>Если Вы хотите заказать индивидуальный дизайн торта, это можно согласовать с менеджером. Если у Вас возникнут вопросы, звоните нам!</p>
                    <p>Оформлять заказ нужно предварительно за 3 дня (минимум за один день).  Возможны варианты доставки  "сегодня на сегодня", но эту информацию нужно дополнительно согласовывать с менеджером интернет-магазина.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tm-delivery-b">
        <div class="uk-container uk-container-large">
            <span class="tm-title">ДОСТАВКА:</span>
            <div class="tm-line-breaker">

            </div>
            <span class="tm-text">
                Вы можете выбрать наиболее удобный для себя способ доставки:
            </span>
            <div class="uk-child-width-expand@m" uk-grid>
                <div class="tm-item">

                    <strong>Адресная доставка по г. Киев   курьером.</strong>
                    <span>
                        В оговоренное время, наш курьер доставит Вам торт по указанному адресу.
                        Стоимость доставки по Киеву:  150 грн. Стоимость доставки в пригород - 200 грн.
                        Доставку можно заказать каждый день с <u>9:00 до 18:00</u>.
                    </span>
                </div>
                <div class="tm-item">

                    <strong>Самовывоз из офиса </strong>
                    <span>

                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="tm-delivery-d">
        <div class="uk-container uk-cotainer-large">
            <span class="tm-title">Способы оплаты</span>
            <div class="tm-line-breaker">

            </div>
            <p>Оплата заказа может быть произведена следующими способами:</p>
            <ol>

                <li data-count="2">оплата наличными в офисе;</li>
                <li data-count="3">оплата на карту Приват Банка  (<u>О внесении средств просим сообщить оператора интернет-магазина по указанному на сайте номеру телефона</u>);</li>
                <li data-count="4">оплата наличными курьеру;</li>

            </ol>
            <span class="tm-info">

                Заказы оформляются по предоплате:  для заказа индивидуального торта - предоплата  50 % от суммы заказа, для заказа фирменных тортов - предоплата  30 % от суммы заказа.
            </span>
        </div>
    </div>

    <div class="tm-delivery-d">
        <div class="uk-container uk-cotainer-large">
            <span class="tm-title">Возврат товара</span>
            <div class="tm-line-breaker">

            </div>
            <p>Возврат товара или денег может быть осуществлен исключительно в случаях, предусмотренных законодательством Украины.</p>
            <p>Не подлежат возврату или обмену надлежащего качества продукты питания предусмотренные постановлением Кабинета Министров Украины № 172 от 19.03.1994.</p>
            <p><a href="http://zakon5.rada.gov.ua/laws/show/1023-12" rel="nofollow">http://zakon5.rada.gov.ua/laws/show/1023-12</a></p>
        </div>
    </div>



